.skills__box, .hobbies__box{
    display: flex;
    width: calc(50% - .5rem); 
    height: 118px;
    max-width: 224px;
    background: #FFFFFF;
    margin: 2rem 0 0;
}

.skills__img, .hobbies__img{
    padding: 2.375rem 0 .75rem 1rem;
}

.skills__name, .hobbies__name{
    padding-left: 1rem;
}