.experience{
    background: var(--background-color1);
    padding: 2rem;
}

.experiencie__box{
    width: 100%;
    
}

.experience__section__title{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    display: block;
}

.experience__img{
    width: 100%;
    max-width: 752px;
    padding-top: 1rem;
}

.experience__title{
    padding-top: 1rem;
    font-weight: 700;
}

.experience__text{
    font-size: 14px;
    font-weight: 500;
    padding-top: .5rem;
}

.experience__description{
    padding: .5rem 0 3rem 0;
}

.experience__description:last-child{
    padding-bottom: 2rem;
}

.experiencia__botao--repo{
    padding: .75rem 1rem;
    margin-right: .75rem;
    color: #2A7AE4;
    background: none;
    border: 1px solid #2A7AE4;
}

.experience__botao--demo{
    padding: .75rem 1rem;
    background: #2A7AE4;
    color: #FFFFFF;
    border: none;
}

@media (min-width: 1024px){

    .experience{
        padding: 2rem 10.55%;
        text-align: center;
    }

    .experiencie__box{
        padding: 2rem 0;
        align-items: center;
        display: flex;
        gap: 1rem;
    }

    .experience__img{
        padding-top: 0;
        width: 52.22%;
    }

}

@media (min-width: 1440px){

    .experience{
        padding: 2rem 10.55%;
    }

    .experiencie__box{
        padding: 2rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .experience__img{
        padding-top: 0;
    }
}