.hobbies{
    background: var(--background-color1);
    width: 100%;
    padding-top: 1rem;
}

.hobbies__title{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    display: block;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

@media (min-width: 1024px){
    
    .hobbies{
        padding: 2rem 10.55% 5.5rem 10.55%;
    }
}