.menu{
    background: var(--background-color1);
    display: flex;
    list-style-type: none;
    padding: 1.25rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.menu__title{
    font-weight: 700;
}

.menu__header{
    display: flex;
    gap: .5rem;
}

.menu__list__item{
    display: none;
}

.menu__list__item__contato{
    font-size: 14px;
}

a{
    color: #464646;
    text-decoration: none;
}

@media (min-width: 768px){

    .menu__list__item__contato{
        font-weight: 700;
    }   
}

@media (min-width: 1024px){

    .menu{
        padding: 2.1562rem 10.55% 4.1562rem 10.55%;
    }

    .menu__list{
        display: flex;
        gap: 1.6rem;
    }

    .menu__list__item{
        display: flex;
    }
}