.skills{
    background: var(--background-color1);
    width: 100%;
}

.skills__title{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    display: block;
    padding-top: 1rem;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}