.title__div{
    padding: 1rem 1rem 0 1rem;
    background-color: var(--background-color1);
    padding-bottom: 2rem;
}

.title__profile{
    width: 30%;
    border-radius: 50%;
}

.title__container{
    padding: 1rem 0 1rem 0;
}

.title__bio {
    line-height: 1.625rem;
    font-size: 22px;
    font-weight: 700;
}

.title__subsection{
    line-height: 1rem;
    padding-top: 1rem;
    font-size: 14px;
    font-weight: 400;
}

.title__network{
    display: flex;
    padding-top: 1rem;
    font-size: 14px;
    gap: 0.52875rem;
    font-weight: 600;
}

@media (min-width: 768px){

    .title__div{
        display: flex;

    }

    .title__profile{
        display: flex;
        width: 20%;
        height: fit-content;
        order: 1;
    }

    .title__container{
        display: flex;
        flex-direction: column;
        width: calc(79% - 2rem);
        padding: 0 2rem;
    }
}

@media (min-width: 1024px) {

    .title__div{
        padding: 0 10.55% 2rem 10.55%;
    }

    .title__profile{
        width: 25.5555%;
    }

    .title__container{
        padding: 0;
        justify-content: center;
        padding-right: 1rem;
    }
}